<!-- erweitert base_template.html-->
{% extends 'base_template.html' %}

<!-- Jinja2 START-->
{% block content %}

<div class="info-box">
    <h3>Befindet sich noch im Aufbau</h3>
        <ul>
            <li> - ...</li>
            <li> - ...</li>
            <li> - ...</li>
            <button class="cta-button">Mehr erfahren</button>
        </ul>
</div>
<div class="info-box">
    <h3>...</h3>
        <ul>
            <li> - ...</li>
            <li> - ...</li>
            <li> - ...</li>
            <button class="cta-button">Mehr erfahren</button>
        </ul>
</div>
<div class="info-box">
    <h3>...</h3>
        <ul>
            <li> - ...</li>
            <li> - ...</li>
            <li> - ...</li>
            <button class="cta-button">Mehr erfahren</button>
        </ul>
</div>
<div class="info-box">
    <h3>...</h3>
        <ul>
            <li> - ...</li>
            <li> - ...</li>
            <li> - ...</li>
            <button class="cta-button">Mehr erfahren</button>
        </ul>
</div>
<div class="info-box">
    <h3>...</h3>
        <ul>
            <li> - ...</li>
            <li> - ...</li>
            <li> - ...</li>
            <button class="cta-button">Mehr erfahren</button>
        </ul>
</div>

<!-- Jinja2 ENDE-->
{% endblock %}